@import "variables.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0px;
	outline: none;
	list-style: none;
	font-family: arial;
	user-select: none;
}

body {
	background: var(--main-bg-dark);
	overflow: hidden;
}

.app {
	width: 100%;
	height: 100vh;
	display: flex;
}

.separator {
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: relative;
}

.separator .hover {
	position: absolute;
	z-index: 1;
	width: 10px;
	height: 100%;
	left: -2px;
	top: 0px;
	cursor: e-resize;
}

input {
	width: 100%;
	background: var(--main-bg-dark);
	border-radius: 10rem;
	height: 28px;
	padding: 0.5rem;
	font: normal 14px Arial;
	color: #fff;
}

.space {
	flex: 1;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8rem;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8rem;
}
 



